body {
  font-family: Helvetica;
  text-align: center;
}
.background1 {
  background-image: url(../media/the-flatiron-building.png);
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  color: white;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.background2 {
  background-image: url(../media/the-flatiron-building.png);
}
